@import "~bulma/sass/utilities/_all";
@import "variables";
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "buttons";

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

//transitions
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.smooth-enter-active,
.smooth-leave-active {
    transition: height 0.5s;
    overflow: hidden;
}
.smooth-enter,
.smooth-leave-to {
    height: 0;
}

//forPanel
body.overflow-hidden {
    overflow: hidden;
}

.content-field {
    display: block;
    overflow: hidden;
}

//PopUp Style
.popup-content-text {
    font-size: 14px;
}

.swal2-container {
    .swal2-popup {
        width: 100%;
        max-width: 360px;
        .swal2-icon {
            margin-top: 0;
        }
        .swal2-title {
            font-size: 20px;
            font-weight: 500;
            color: var(--color-primary);
        }
    }
}

.input,.textarea{
    background-color: transparent;
}
