// Bulma setup 
$primary: #205071;
$primary-invert: findColorInvert($primary);
$background: #F8F8FA;
$fullhd-enabled: false;
$family-primary:  'Montserrat', $family-sans-serif;

// Theme variables
:root {
    --color-client: #FF6461;
    --color-driver: #40C1C8;
    --color-primary: #205071;
  }

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;




